body{
    margin: 0px;
    line-height: 1;
    box-sizing: border-box;
    position: relative;

    background-color: rgb(243, 242, 239);
    color: rgb(40, 64, 12);
    font-family: Calibri, "Helvetica Neue", sans-serif;
    text-size-adjust: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    scrollbar-width: thin;
}

main{
    width: 100%;
}

.main-positioner{
    max-width: 1280px;
    height: auto;
    padding: 0 24px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
